*{
  margin: 0;
  padding: 0;
}
html{
    height: 100%;
  }

  body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  /* 头部 */
  .head{
    background-color:#00712F ;
    /* background-color: #4972b1; */
    display: flex;
    padding: 24px;
  }

  .head image{
    flex: 1;
  }

  .head h1{
    color: white;
    margin: 0;
    flex: 1;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .icon-yonghu1{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 40px;
  }

  .icon-youxiang{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 90px;
  }

  .icon-erweima{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 140px;
  }

  .icon-sousuo{
    color: white;
    font-size: 26px;
    position: absolute;
    right: 190px;
    top: 26px;
  }

  /* 地图 */
  .menu-map #container{
    height: 100%;
    display: block;
    flex: 9;
  }

  .menu-map{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  /* 侧边栏 */
  .menu-map .menu{
    display: flex;
    padding: 10px;
    flex: 1;
    width: 100px;
    height: 100%;
    /* background-color:#4973b1dc; */
    background-color: rgb(88, 161, 98);
    padding-bottom: 0;
  }

  .menu ul{
    border-radius: 10px;
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .menu li{
    list-style: none;
    padding: 10px 12px 10px 30px;
    margin: 0;
    width: 100%;
    position: relative;
    /* background-color:#0f8f48; */
    /* font-family: '微软雅黑'; */
    left: 0;
  }

  /* #activities{
    border-radius: 0 20px;
  } */

  .menu a{
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    left: 0;
  }

  .menu .link-name{
    color: white;
    font-weight: 500;
    font-family: '宋体';
  }

  .menu li:hover{
    background-color: burlywood;
    /* background-color: #0f5fb967; */
    /* background-color: #4972b1; */
    border-radius: 8px;
  }
  /* 图标 */
  .icon-daohang1{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-jiaoshi{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-tushuguan1{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-susheguanli_sushefangjianguanli{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-chongdianzhuang{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-xiaoche{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  .icon-yundongyuleshebei{
    color: white;
    font-size: 20px;
    position: relative;
    align-items: center;
    left: -20px;
  }

  /* 功能部分 */
  /* ------------------------------------------------------------------------- */
  #search{
    position: absolute;
    width: 220px;
    height: 170px;
    top: 100px;
    left: 220px;
    /* background-color: #ffffffd5; */
    background-color: rgba(245, 255, 255, 0.9);
    display: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #00712f;
  }

  #search input{
    border-radius: 6px;
    outline: none;
  }

  #searchBtn{
    background-color: #4972b1;
    border: none;
    border-radius: 6px;
    outline: none;
    color:#fff;
    margin: 8px;
    margin-top: 10px;
    width: 80px;
  }

  #closeBtn{
    background-color: #d84f4f;
    border: none;
    border-radius: 6px;
    outline: none;
    color:#fff;
    margin: 8px;
    margin-top: 10px;
    width: 80px;
  }

  #panel {
    position: fixed;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 100px;
    right: 120px;
    width: 280px;
    display: block;
  }

  #panel::-webkit-scrollbar{
    width: 1px;
    height: 1px;
  }
  #panel .amap-call {
    background-color: #009cf9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  #panel .amap-lib-walking {
  border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  
  /* -------------------------------------------------------------------------------- */

  #classroomsection th,td
  {
    padding: 12px;
    margin: 0;
    display: table-cell;
    font-size: 16px;
    text-align: center;
  }

  /* 教室部分 */
  #classroomsection {
    width: 600px;
    height: 720px;
    display: none;
    position: fixed;
    text-align: center;
    top: 100px;
    left: 660px;
    border: 1px solid #00712f;
    border-radius: 20px;
    background-color: rgba(245, 255, 255, 0.8);
    /* background-color:#ffffffd5; */
    /* overflow: auto; */
    margin: 0;
  }

  .tablesection::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  #classroomsection h1 {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .tablesection {
    overflow-y: auto;
    width: 500px;
    height: 520px;
    position: relative;
    /* align-items: center; */
    left: 50px;
    top: 60px;
    /* transform: translate(-25%,0); */
  }

  .tablesection th {
    position: sticky;
    top: 0;
  }

  table {
    width: 500px;
    position: relative;
    border-collapse: collapse;
    /* border: 1px solid #000; */
    border-radius: 20px;
    user-select: none;
    /* table-layout: fixed; */
    /* overflow: auto; */
  }



  thead tr th {
    /* background-color: cornflowerblue; */
    background-color: #0ca678;
    color: #f0f0f0;
    /* position: sticky; */
    /* top: 100px; */
  }

  tbody {
    background-color: #fff;
  }

  /* 第一列添加右边框 */
  tbody > tr > td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }

  /* 偶数行深色 */
  tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  /* 教室状态查询 */
  #classStatusSearch {
    position: relative;
    top: 36px;
    right: -140px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 12px;
    width: 200px;
  }

  #classbtn {
    position: relative;
    top: 38px;
    right: -140px;
    height:28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 11px;
    width: 40px;
  }

  #classClosebtn{
    position: relative;
    top: 38px;
    left:-350px;
  }

  /* ---------------------------------------------- */
  /* 图书馆部分 */
  #librarysection {
    display: none;
    position: fixed;
    top: 140px;
    left: 460px;
    width: 900px;
    height: 620px;
    border: 1px solid #00712f;
    border-radius: 20px;
    background-color: rgba(240, 255, 255, 0.8);
    margin: 0;
  }
  
  .libraryTitle {
    position: relative;
    display: flex;
    top: 30px;
    /* justify-items: center; */
  }
  
  .libraryTitle h1 {
    flex: 1;
    text-align: center;
    font-size: 30px;
    margin: 0 30px;
    padding-top: 5px;
    border-radius: 20px ;
  }

  #closeLibraryBtn{
    position: relative;
    left: 910px;
    top: -510px;
  }
  
  .libraryTitle h1:hover {
      background-color: #00bff948;
      /* border-bottom: 6px solid #59b6db7c; */
  }
  
  
  /* -----------------------------------------------书籍查询部分（索引1）------------------------------------------------------ */
  #librarysection #libraryLayout1 {
    display: block;
    position: relative;
    top: 40px;
    width: 850px;
    height: 500px;
    left: 25px;
    background-color: blanchedalmond;
    border-radius: 20px;
  }
  
  #librarysection #libraryLayout1 #bookInput1 {
    position: relative;
    top: 10px;
    right: -10px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 12px;
    width: 200px;
  }
  
  #librarysection #libraryLayout1 #bookBtn1 {
    position: relative;
    top: 10px;
    right: -10px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 11px;
    width: 40px;
  }
  
  #librarysection #libraryLayout1 .libTabSec1{
      display: block;
      position: relative;
      top: 10px;
      width: 830px;
      height: 436px;
      margin: 10px;
      background-color: white;
      overflow-y: auto;
  }
  
  #librarysection #libraryLayout1 .libTabSec1::-webkit-scrollbar{
      width: 1px;
      height: 1px;
  }
  
  #bookTable{
      width: 830px;
  }
  
  #bookTable thead tr th{
      background-color: #0ca678;
      color: #f0f0f0;
      position: sticky;
      top: 0;
      padding: 8px;

  }
  
  #bookTable tbody > tr > td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  /* 偶数行深色 */
  #bookTable tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.03);
  }
  /* -----------------------------------------------书籍借阅部分（索引2）------------------------------------------------------ */
  #librarysection #libraryLayout2 {
      display: none;
      position: relative;
      top: 40px;
      width: 850px;
      height: 500px;
      left: 25px;
      background-color: blanchedalmond;
      border-radius: 20px;
    }
    
    #librarysection #libraryLayout2 #bookInput2 {
      position: relative;
      top: 10px;
      right: -10px;
      height: 28px;
      border-radius: 10px;
      outline: none;
      border: 2px solid #f0f0f0;
      font-size: 12px;
      width: 200px;
    }
    
    #librarysection #libraryLayout2 #bookBtn2 {
      position: relative;
      top: 10px;
      right: -10px;
      height: 28px;
      border-radius: 10px;
      outline: none;
      border: 2px solid #f0f0f0;
      font-size: 11px;
      width: 40px;
    }
    
    #librarysection #libraryLayout2 .libTabSec2{
        display: block;
        position: relative;
        top: 10px;
        width: 830px;
        height: 343px;
        margin: 10px;
        background-color: white;
    }
  
    #librarysection #libraryLayout2 .libTabSec2::-webkit-scrollbar{
      width: 1px;
      height: 1px;
  }
  
  #lendingTable{
      width: 830px;
  }
  
  #lendingTable thead tr th{
      background-color: #0ca678;
      color: #f0f0f0;
      position: sticky;
      top: 0;
      padding: 8px;
  }
  
  #lendingTable tbody > tr > td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  /* 偶数行深色 */
  #lendingTable tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.03);
  }
  
  .summary{
    display: block;
    position: fixed;
    font-size: 16px;
    color: #f0f0f0;
    padding: 8px 20px;
    background-color: rgb(233, 92, 92);
    width: 320px;
    left: 500px;
    top: 650px;
    border: 1px solid white;
    border-radius: 16px;
  }
  /* -----------------------------------------------座位预约部分（索引3）------------------------------------------------------ */
  #librarysection #libraryLayout3 {
      display: none;
      position: relative;
      top: 40px;
      width: 850px;
      height: 500px;
      left: 25px;
      background-color: blanchedalmond;
      border-radius: 20px;
    }
    
    #librarysection #libraryLayout3 #bookInput3 {
      position: relative;
      top: 10px;
      right: -10px;
      height: 28px;
      border-radius: 10px;
      outline: none;
      border: 2px solid #f0f0f0;
      font-size: 12px;
      width: 200px;
    }
    
    #librarysection #libraryLayout3 #bookBtn3 {
      position: relative;
      top: 10px;
      right: -10px;
      height: 28px;
      border-radius: 10px;
      outline: none;
      border: 2px solid #f0f0f0;
      font-size: 11px;
      width: 40px;
    }
    
    #librarysection #libraryLayout3 .libTabSec3{
        display: block;
        position: relative;
        top: 10px;
        width: 620px;
        height: 436px;
        margin: 10px;
        background-color: white;
        overflow-y: auto;
    }
  
    #librarysection #libraryLayout3 .libTabSec3::-webkit-scrollbar{
      width: 1px;
      height: 1px;
    }
    
    #seatTable{
      width: 620px;
    }

    #seatTable thead tr th{
      background-color: #0ca678;
      color: #f0f0f0;
      position: sticky;
      top: 0;
      padding: 8px;
    }
    
    #seatTable tbody > tr > td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    }
    
    /* 偶数行深色 */
    #seatTable tbody > tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.03);
    }
  
  .box1{
      display: block;
      position:fixed;
      top: 290px;
      left: 1150px;
      width: 120px;
      background-color: rgb(127, 196, 127);
      color: white;
      border: 2px solid white;
      padding: 16px;
      border-radius: 16px;
      font-size: 16px;
    }
  
    .box2{
      display: block;
      position:fixed;
      top: 420px;
      left: 1150px;
      width: 120px;
      background-color: rgb(99, 144, 212);
      color: #f0f0f0;
      border: 2px solid white;
      padding: 16px;
      border-radius: 16px;
      font-size: 16px;
    }
  
    .box3{
      display: block;
      position:fixed;
      top: 540px;
      left: 1150px;
      width: 120px;
      background-color:rgb(255, 136, 0);
      color: #f0f0f0;
      border: 2px solid white;
      padding: 16px;
      border-radius: 16px;
      font-size: 16px;
    }

    /* -------------------------------------------------- */
    /* 宿舍部分 */
    #dormitorysection{
      width: 600px;
      height: 740px;
      background-color: #f0f0f0;
      display: none;
      position:fixed;
      justify-content: center;
      align-items: center;
      top: 100px;
      left: 640px;
      border: 1px solid #00712f;
      border-radius: 20px;
  }
  
  .dormitoryHead{
      position: relative;
      display: flex;
  }
  
  .dormitoryHead h1{
      flex: 1;
      text-align: center;
      padding: 30px 10px 20px 10px;
      border-radius: 20px 20px 0 0;
  }
  
  .dormitoryHead h1:hover{
      background-color: white;
  }
  
  #electricity{
      background-color: white;
      margin: 10px 0 0 10px;
  }
  
  #trouble{
      margin: 10px 10px 0 0;
  }
  
  #dormitoryLayout1{
      margin: 0 10px 10px 10px;
      display:flex;
      position: relative;
      top: 0;
      background-color: white;
      width: 580px;
      height: 628px;
      border-radius: 0 0 20px 20px;
      flex-direction: column;
  }
  
  
  #dormitoryLayout1 .part1{
      display: flex;
      flex-direction: row;
  }
  
  #dormitoryLayout1 .part1 .informationIndex{
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;
      position: relative;
      top: 20px;
  }
  
  #dormitoryLayout1 .part1 .information{
      display: flex;
      flex: 1;
      flex-direction: column;
      position: relative;
      top: 20px;
  }
  
  #dormitoryLayout1 .part1 .informationIndex h2{
      padding: 10px 0 10px 0;
      color:gray;
  }
  
  #dormitoryLayout1 .part1 .information h2{
      padding: 10px 0 10px 0;
      color: #00712f;
  }
  
  #dormitoryLayout1 .part2{
      display: flex;
      flex-direction: row;
  }
  
  #dormitoryLayout1 .part2 .electricityCard{
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 20px;
      margin: 60px 20px;
      border: 2px solid #f0f0f0;
  }
  
  #dormitoryLayout1 .part2 .billCard{
      display: flex;
      flex: 1;
      flex-direction: row;
      padding: 20px;
      margin: 60px 20px;
      border: 2px solid #f0f0f0;
  }
  
  #dormitoryLayout1 .part2 .electricityCard .icon-dianliangfenxi{
      color: orange;
      display: flex;
      position:absolute;
      top: 201px;
      left: 190px;
      font-size: 60px;
  }
  
  #dormitoryLayout1 .part2 .electricityCard h3{
      color: orange;
      font-size: 20px;
  }
  
  #dormitoryLayout1 .part2 .electricityCard h4{
    font-size: 16px;
    font-weight: 600;
}

  #dormitoryLayout1 .part2 .billCard h4{
      font-size: 16px;
      font-weight: 600;
  }

  #dormitoryLayout1 .part2 .billCard .icon-jiaofei{
      color: orange;
      display: flex;
      position: absolute;
      top: 206px;
      left: 482px;
      font-size: 60px;
  }
  
  #dormitoryLayout1 .part3{
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 20px 30px 30px 30px;
      border: #f0f0f0 2px solid;
      border-radius: 20px;
  }
  
  #dormitoryLayout1 .part3 h4{
      color: grey;
      margin: 0px;
      border-bottom: 1px solid grey;
  }
  
  #dormitoryLayout1 .part3 h3{
      font-weight: 500;
      font-size: 16px;
  }
  
  #dormitoryLayout1 .part3 .operation{
      display: flex;
      margin-top: 10px;
  }
  
  #dormitoryLayout1 .part3 .operation .operationCard1{
      display: flex;
      flex: 1;
      flex-direction: column;
  }
  
  #dormitoryLayout1 .part3 .operation .operationCard1 .icon-jiaofei{
      color: orange;
      font-size: 60px;
  }
  
  #dormitoryLayout1 .part3 .operation .operationCard2{
      display: flex;
      flex: 3;
      flex-direction: column;
  }
  
  #dormitoryLayout1 .part3 .operation .operationCard2 .icon-kehuzhangdan{
      color: orange;
      font-size: 60px;
  }

  #dormitoryLayout1 #dormitoryCloseBtn{
    width: 40px;
    position: relative;
    left: 30px;
    top: -12px;
  }


  /* ---------------------------------- */
  /* 文体活动部分 */
  #activitysection{
    width: 600px;
    height: 720px;
    display: none;
    position: fixed;
    top: 100px;
    left: 660px;
    border: 1px solid #00712f;
    border-radius: 20px;
    background-color: rgba(245, 255, 255, 0.8);
}

#activitysection h1 {
    position: relative;
    top: 20px;
    text-align: center;
  }

#activitysection input{
    position: relative;
    top: 36px;
    right: -290px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 12px;
    width: 200px;
}

#activitysection #activityBtn{
    position: relative;
    top: 38px;
    right: -300px;
    height:28px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #f0f0f0;
    font-size: 11px;
    width: 40px;
}

.activityTableSection {
    overflow-y: auto;
    width: 500px;
    height: 520px;
    position: relative;
    left: 50px;
    top: 60px;
    background-color:rgba(245, 255, 255, 0.8) ;
  }

#activitysection #activityCloseBtn{
    position: relative;
    top: 38px;
    left:-196px;
}

.activityTableSection::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

#activityTable{
    border-collapse: collapse;
}

#activityTable th, td {
    padding: 12px;
    margin: 0;
    display: table-cell;
    width: 120px;
    text-align: center;
  }

#activityTable th{
    position: sticky;
    top: 0;
  }

#activityTable thead tr th {
    /* background-color: cornflowerblue; */
    background-color: #0ca678;
    color: #f0f0f0;
    /* position: sticky; */
    /* top: 100px; */
  }

#activityTable tbody {
    background-color: #fff;
  }

  /* 第一列添加右边框 */
#activityTable tbody > tr > td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }

  /* 偶数行深色 */
#activityTable tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.03);
  }



